



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* * {
-webkit-user-select: none;
-webkit-touch-callout: none;        
}*/

:-moz-selection { background: rgba(0, 10, 255, 0.75); }
::selection { background:rgba(0, 10, 255, 0.75); }


/*///////////////////////*/

@font-face {
	font-family: maisonBold;
	src: url('../fonts/MaisonNeue-Bold-TRIAL.otf') format("opentype");
}

@font-face {
	font-family: maisonMono;
	src: url('../fonts/MaisonMono-Light-TRIAL.otf') format("opentype");
}

@font-face {
	font-family: maisonLight;
	src: url('../fonts/MaisonNeue-Light-TRIAL.otf') format("opentype");
}

@font-face {
	font-family: maisonRegular;
	src: url('../fonts/MaisonNeue-Book-TRIAL.otf') format("opentype");
}

@font-face {
	font-family: tradeGothic;
	src: url('../fonts/TradeGothicBold.ttf') format("truetype");
}


* {
	box-sizing: border-box;
}

body {
	font-family: 'maisonLight', helvetica, arial, sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	
	transition: background-color .7s ease-out;
}

a,
a:hover {
	text-decoration: none;
	color: rgba(255, 245, 6, 0.85);
	
	transition: color .3s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'maisonLight', helvetica, arial, sans-serif;
	padding-left: 0;
}

h1 {
	font-size: 2em;
	line-height: 1.25;
	font-family: 'maisonBold';
}

ul {
	padding: 0;
	list-style-type: none;
}

th {
	vertical-align:text-top;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
	
	background-repeat: no-repeat;
	background-position: center;
}

.row {
	max-width: 1070px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

header {
	width: 100%;
	position: fixed;
	top: 0px;
	/*background-color: rgba(255,255,255,.65);*/
	z-index: 10;
	padding-top: .5em;
	padding-bottom: .5em;
 
 	transition: padding .3s ease-out, margin .1s ease-out;
}

.navOpen {
		margin-top: 3em;
}

.headerBig {
	padding-bottom: 3em;
	background-color: transparent !important;
}


.line {
	text-decoration: line-through;
}

.bold {
	font-family: 'maisonBold', helvetica, arial, sans-serif;
	font-size: 1em;
}


.info {
	font-family: 'maisonMono', helvetica, arial, monospace;
	font-size: 1em;
}

.logo {
	font-family:'maisonBold', helvetica, arial, sans-serif;
	/*font-weight: bold;*/
	font-size: 1.5em !important;
	padding-left: 15px;
	opacity: .95;
}

.headerBig .logo {
	font-size: 3em !important;
	line-height: .9;
	padding-top: .5em;
	
	transition: padding-top .3s ease-out;
}

.headerBig .menuBtn {
	margin-top: 2em;
}


/*========= menuBtn =======*/
.menuBtn {
	transition: all .3s ease-out;
	margin-top: .5em;
	position: absolute;
	right: 15px;	
}

.menuBtn:hover > .menuBtnElement {
	background-color: rgba(255, 245, 6, 0.85);
}


.menuBtnCloseIcon > #menuBtnElement1 {
		-webkit-transform: translateY(.5em) rotate(45deg);
		background-color: rgba(255, 245, 6, 0.85);
}
.menuBtnCloseIcon > #menuBtnElement2 {
		opacity: 0;
}
.menuBtnCloseIcon > #menuBtnElement3 {
		-webkit-transform:translateY(-.5em)rotate(-45deg);
		background-color: rgba(255, 245, 6, 0.85);
}

.menuBtnElement {
	width: 1.85em;
	height: .25em;
	background-color: #000;
	margin-bottom: .25em;
	-webkit-transform-origin: 50% 50%;
	position: relative;
	
	transition: all .3s ease-out;
}


/*========= nav ==============*/

nav {
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
	color: #000;
	position: fixed;
	z-index: 200;
	overflow: hidden;
	height: 3em;
	line-height: 3em;
	font-family: 'maisonLight', helvetica, arial, sans-serif;
	text-transform: lowercase;
	letter-spacing: .1em;
	font-size: .8em;
	
	transition: height .3s ease-out, background-color .3s ease-out;
}

nav:hover {
	background-color: #f0f0f0;
}
nav ul {
		padding-left: 0px;	
}

nav li {
	padding-left: 0px;
	cursor: pointer;
}

.navClosed {
	height: 0px !important;
}


/*========= topLink ==========*/

.topLinkContainer {
	position: fixed;
	bottom: -3em;
	z-index: 20;
	
	transition: all .7s ease-out;
}

.topLink:hover {
	cursor: pointer;
}

.topLink {
	text-decoration: none;
	color: #000;
	font-family: 'maisonBold', helvetica, arial, sans-serif;
	font-size: 1em;
	line-height: 1.75em;
}

.topLinkOpen {
	bottom: 0 !important;
}

.topLinkElementContainer {
	width: 2em;
	height: 1em;
	float: left;
	margin: .5em;
}

.categorie {
	font-family: 'maisonBold', helvetica, arial, sans-serif;
	font-weight: bold;
	float: left;
}

p {
	font-family: 'maisonBold', helvetica, arial, sans-serif;
	font-size: 1em;
}

.intro {
	margin-top: 150px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.addressBar {
	transition: all .7s ease-out;
	margin-bottom: 5em;
}

.info,
.contact {
	font-family: 'maisonLight';
	font-size: .75em;
	display: block;
}


.contactText {
	display: none;
}

.scroller h1 {
	font-size: 1.75em;
}


.logoSpan {
	display: inline-block;
	padding-bottom: 0.1em;
	margin-bottom: 0.1em;
}

.headerBig .logoSpan {
	display: block !important; 	
}


.underline {
	border-bottom: 0.075em solid;
}


.work {
	margin-top: 50px;
}

.workTitle {
	font-family: 'maisonMono', helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 1px;
	font-size: 1em !important;
	line-height: .9;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 20%;
	z-index: 10;
	position: relative;
	top: 20em;
	display: none;
}

/*//////// caseLink /////////*/



.caseLink {
	height: 320px;
	padding: 0;
	overflow: hidden;
}

.caseLinkImg {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 2em;
	
	background-image: url(../img/test.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
	
	transition: all .3s ease-out;
}


.caseImgLinkText {
	position: absolute;
	color: rgba(0, 10, 255, 0.85);
	font-family: 'maisonBold';
	font-size: 5em;
	font-weight: bolder;
	line-height: 1.15;
	margin-left: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding: .5em;
	
	transition: all .3s ease-out;
}


#ropeLink {
	background-image: url(../img/oben.jpg);
}

#punzeLink {
	background-image: url(../img/punze.png);
}

.caseBtnElementWrapper {
	width: 1.85em;
	height: 1.85em;
	position: absolute;
	right: 50%;
	bottom: 50%;
	transition-delay: 1s;
	transition: all .3s ease;
}

.caseBtnElement {
	position: relative;
	background-color: rgba(255, 245, 6, 0.85);
	
	transition: all .3s ease;
}
.caseBtnElementHorizontal {
	width:  1.85em;
	height: .25em;
	top: .8em;
	left: 0em;
	margin-bottom: auto;
}

.caseBtnElementVertical {
	height:  1.85em;
	width: .25em;
	left: .8em;
	top: 0em;
	margin-top: -.25em;
	transform-origin: center;
}


/*//////// hover styles /////////*/

.caseImgLinkText:hover{
	opacity: .5;
}

.caseLink:hover > .caseLinkImg {
	opacity: 1;
}

.caseLink:hover > .caseImgLinkText {
	opacity: 1;
}

.caseLink:hover > .caseBtnElementWrapper {
	-webkit-transform: rotate(90deg);
	opacity: 0;
} 

.caseLink:hover > .caseBtnElementWrapper > .caseBtnElementHorizontal {
	-webkit-transform: rotate(90deg);
} 


/*//////// work /////////*/

.projectTitle {
	opacity: .65;
	font-size: 8em;
}

.image {
	overflow: hidden;
}

.image img {
	max-width: 100%;
}

.half {
	height: 500px;
}


/*//////// me ////////////*/

#me {
	padding-top: 8em;
}

#me .contact {
	color: rgba(0,10,255,1);
}


.aboutText p {
	font-family: 'maisonBold', helvetica, arial, sans-serif;
	font-size: 1.75em;
}

.aboutCv table {
	display: block;
	font-size: .8em;
}


.firstTh {
	padding-right: 20px;
	font-family: 'maisonBold', helvetica, arial, sans-serif;
}


/* chart*/

.chartWrapper {
	height: 260px;
}

.chart {
	border: 1px solid;
	border-radius: 100%;
	display: block;
	
	width: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	-webkit-transform-origin: center;
}

.chartInner {
	border: 2px solid;
	border-radius: 100%;
	display: block;
	
	width: 4px;
	height: 4px;
	margin-left: -2px;
	margin-top: -2px;
	
	position: absolute;
	top: 50%;
	left: 50%;
}

.chartCtrl ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.chartCtrl li {
	display: block;
	float: left;
	padding: 3px;
	width: 50%;
	font-family: 'maisonBold', helvetica, arial, sans-serif;
	
	
}


/*//////// Cases ////////////*/
#etapes {
	background-color: #bebebe;
	color: #fff;
}

#etapes .menuBtnElement {
	background-color: #fff;
}

.caseTitle {
	font-size: 3em !important;
	line-height: 1.15;
	padding-top: .5em;
	position: relative;
	z-index: 10;
}

.caseIntro {
	padding-top: 50px;
	padding-bottom: 50px;
}


.infoText, 
.infoBar {
	position: relative;
	z-index: 10;
}

.caseIntroHg {
	border: 1px solid red;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	opacity: .5;
	
	background-image: url(../img/foto2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 769px) {
	.headerBig .logo {
		font-size: 6em !important;
		line-height: 1.15;
		padding-top: .5em;
	}
	
	.intro {
		margin-top: 350px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.headerBig {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	.cvList span {
		display: inline;
	}
	
	.cvListEntry .date {
		font-family: 'maisonLight', helvetica, arial, sans-serif;
		font-size: .45em;
		display: inline-block;
		margin-top: 0;
	}
	
	.contactText {
		display: inline-block;
	}
	
	.cv {
		font-size: 1.25em;
	}
	
	/*//////// Cases ////////////*/
	
	.cases .caseLink:nth-child(odd) > .caseImgLinkText {
		text-align: right;
		right: -3em;
	}
	
	.cases .caseLink:nth-child(even) > .caseImgLinkText {
		text-align: left;
		left: -3em;
	}
	
	/*hover styles */
	
	.cases .caseLink:nth-child(odd):hover > .caseImgLinkText {
		right: 0em;
	}
	
	.cases .caseLink:nth-child(even):hover > .caseImgLinkText {
		left: 0em;
	}
	
	


	#etapes {
		background-color: #000;
		color: #fff;
	}
	
	.caseTitle {
		font-size: 6em !important;
		line-height: 1.15;
		padding-top: .5em;
	}
	
	.CaseIntro {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	
}



